## Make  dataframe

In [74]:
import numpy as np
import pandas as pd

with open("data/lubm/lubm_2m","r") as f:
    full = f.readlines()
    
    sub = []
    pro = []
    ob = []
    for i in full:
        sub.append(i.split(" ")[0].strip())
        pro.append(i.split(" ")[1].strip())
        ob.append(i.split(" ")[2].strip())
    
raw_data = {"object" : ob,"property" : pro, "subject" : sub }
df = pd.DataFrame(raw_data, columns=['subject', 'property', 'object'])
df

,subject,property,object
0,University570,type,University
1,Department0.University3/UndergraduateStudent169,memberOf,Department0.University3
2,Department0.University3/UndergraduateStudent169,advisor,Department0.University3/AssistantProfessor8
3,Department0.University3/UndergraduateStudent169,emailAddress,"""UndergraduateStudent169@Department0.University3"""
4,Department0.University3/UndergraduateStudent169,type,UndergraduateStudent
5,Department0.University3/UndergraduateStudent169,takesCourse,Department0.University3/Course12
6,Department0.University3/UndergraduateStudent169,name,"""UndergraduateStudent169"""
7,Department0.University3/UndergraduateStudent169,takesCourse,Department0.University3/Course23
8,Department0.University3/UndergraduateStudent169,telephone,"""xxx-xxx-xxxx"""
9,Department0.University3/UndergraduateStudent169,takesCourse,Department0.University3/Course26
10,Department0.University3/UndergraduateStudent169,takesCourse,Department0.University3/Course1
11,Department0.University3/Course20,name,"""Course20"""
12,Department0.University3/Course20,type,Course
13,Department0.University3/UndergraduateStudent210,takesCourse,Department0.University3/Course5
14,Department0.University3/UndergraduateStudent210,takesCourse,Department0.University3/Course36
15,Department0.University3/UndergraduateStudent210,telephone,"""xxx-xxx-xxxx"""
16,Department0.University3/UndergraduateStudent210,emailAddress,"""UndergraduateStudent210@Department0.University3"""
17,Department0.University3/UndergraduateStudent210,name,"""UndergraduateStudent210"""
18,Department0.University3/UndergraduateStudent210,type,UndergraduateStudent
19,Department0.University3/Course33,name,"""Course33"""
20,Department0.University3/Course33,type,Course
21,Department0.University3/UndergraduateStudent223,takesCourse,Department0.University3/Course12
22,Department0.University3/UndergraduateStudent223,takesCourse,Department0.University3/Course8
23,Department0.University3/UndergraduateStudent223,telephone,"""xxx-xxx-xxxx"""
24,Department0.University3/UndergraduateStudent223,emailAddress,"""UndergraduateStudent223@Department0.University3"""
25,Department0.University3/UndergraduateStudent223,memberOf,Department0.University3
26,Department0.University3/UndergraduateStudent223,name,"""UndergraduateStudent223"""
27,Department0.University3/UndergraduateStudent223,type,UndergraduateStudent
28,University420,type,University
29,Department0.University3/UndergraduateStudent407,takesCourse,Department0.University3/Course44
...,...,...,...
13627,Department1.University0/UndergraduateStudent381,emailAddress,"""UndergraduateStudent381@Department1.University0"""
13628,Department1.University0/UndergraduateStudent381,memberOf,Department1.University0
13629,Department1.University0/UndergraduateStudent381,name,"""UndergraduateStudent381"""
13630,Department1.University0/UndergraduateStudent381,type,UndergraduateStudent
13631,Department1.University0/UndergraduateStudent306,advisor,Department1.University0/AssociateProfessor9
13632,Department1.University0/UndergraduateStudent306,takesCourse,Department1.University0/Course4
13633,Department1.University0/UndergraduateStudent306,takesCourse,Department1.University0/Course13
13634,Department1.University0/UndergraduateStudent306,takesCourse,Department1.University0/Course31
13635,Department1.University0/UndergraduateStudent306,telephone,"""xxx-xxx-xxxx"""
13636,Department1.University0/UndergraduateStudent306,emailAddress,"""UndergraduateStudent306@Department1.University0"""
13637,Department1.University0/UndergraduateStudent306,memberOf,Department1.University0
13638,Department1.University0/UndergraduateStudent306,name,"""UndergraduateStudent306"""
13639,Department1.University0/UndergraduateStudent306,type,UndergraduateStudent
13640,University205,type,University
13641,Department1.University0/UndergraduateStudent394,takesCourse,Department1.University0/Course11
13642,Department1.University0/UndergraduateStudent394,takesCourse,Department1.University0/Course30
13643,Department1.University0/UndergraduateStudent394,telephone,"""xxx-xxx-xxxx"""
13644,Department1.University0/UndergraduateStudent394,emailAddress,"""UndergraduateStudent394@Department1.University0"""
13645,Department1.University0/UndergraduateStudent394,memberOf,Department1.University0
13646,Department1.University0/UndergraduateStudent394,name,"""UndergraduateStudent394"""
13647,Department1.University0/UndergraduateStudent394,type,UndergraduateStudent
13648,Department1.University0/ResearchGroup11,subOrganizationOf,Department1.University0
13649,Department1.University0/ResearchGroup11,type,ResearchGroup
13650,Department1.University0/UndergraduateStudent141,takesCourse,Department1.University0/Course2
13651,Department1.University0/UndergraduateStudent141,takesCourse,Department1.University0/Course10
13652,Department1.University0/UndergraduateStudent141,telephone,"""xxx-xxx-xxxx"""
13653,Department1.University0/UndergraduateStudent141,emailAddress,"""UndergraduateStudent141@Department1.University0"""
13654,Department1.University0/UndergraduateStudent141,memberOf,Department1.University0
13655,Department1.University0/UndergraduateStudent141,name,"""UndergraduateStudent141"""
13656,Department1.University0/UndergraduateStudent141,type,UndergraduateStudent

## make  class of  list

In [58]:
listOfClass = df[(df['property'] == "type")]['object'].drop_duplicates().values.tolist()
listOfClass

['University',
 'UndergraduateStudent',
 'Course',
 'Publication',
 'GraduateStudent',
 'ResearchAssistant',
 'TeachingAssistant',
 'GraduateCourse',
 'AssociateProfessor',
 'ResearchGroup',
 'Lecturer',
 'FullProfessor',
 'AssistantProfessor',
 'Department']

## make  property table

In [93]:
df_university = df[df['object'] == listOfClass[1]][['subject']]
df_university

                                               subject
4      Department0.University3/UndergraduateStudent169
18     Department0.University3/UndergraduateStudent210
27     Department0.University3/UndergraduateStudent223
37     Department0.University3/UndergraduateStudent407
51     Department0.University3/UndergraduateStudent236
69      Department0.University3/UndergraduateStudent70
78     Department0.University3/UndergraduateStudent249
107     Department0.University3/UndergraduateStudent83
126    Department0.University3/UndergraduateStudent303
145    Department0.University3/UndergraduateStudent391
154     Department0.University3/UndergraduateStudent96
168    Department0.University3/UndergraduateStudent316
188    Department0.University3/UndergraduateStudent151
198    Department0.University3/UndergraduateStudent329
212    Department0.University3/UndergraduateStudent164
230    Department0.University3/UndergraduateStudent177
238    Department0.University3/UndergraduateStudent402
252    Department0.University3/UndergraduateStudent231
265    Department0.University3/UndergraduateStudent415
275    Department0.University3/UndergraduateStudent244
300    Department0.University3/UndergraduateStudent257
325     Department0.University3/UndergraduateStudent91
340     Department0.University3/UndergraduateStudent16
349    Department0.University3/UndergraduateStudent311
372     Department0.University3/UndergraduateStudent29
381    Department0.University3/UndergraduateStudent324
399    Department0.University3/UndergraduateStudent337
418    Department0.University3/UndergraduateStudent172
426    Department0.University3/UndergraduateStudent185
437    Department0.University3/UndergraduateStudent198
...                                                ...
13219  Department1.University0/UndergraduateStudent112
13238  Department1.University0/UndergraduateStudent378
13246  Department1.University0/UndergraduateStudent125
13268  Department1.University0/UndergraduateStudent138
13291  Department1.University0/UndergraduateStudent280
13308  Department1.University0/UndergraduateStudent205
13329  Department1.University0/UndergraduateStudent293
13341   Department1.University0/UndergraduateStudent51
13349  Department1.University0/UndergraduateStudent218
13368   Department1.University0/UndergraduateStudent64
13398   Department1.University0/UndergraduateStudent77
13407  Department1.University0/UndergraduateStudent360
13425  Department1.University0/UndergraduateStudent373
13434  Department1.University0/UndergraduateStudent120
13442  Department1.University0/UndergraduateStudent386
13463  Department1.University0/UndergraduateStudent133
13471  Department1.University0/UndergraduateStudent399
13482  Department1.University0/UndergraduateStudent146
13490  Department1.University0/UndergraduateStudent159
13511  Department1.University0/UndergraduateStudent200
13521  Department1.University0/UndergraduateStudent213
13530  Department1.University0/UndergraduateStudent226
13552   Department1.University0/UndergraduateStudent72
13569  Department1.University0/UndergraduateStudent239
13596   Department1.University0/UndergraduateStudent85
13619   Department1.University0/UndergraduateStudent98
13630  Department1.University0/UndergraduateStudent381
13639  Department1.University0/UndergraduateStudent306
13647  Department1.University0/UndergraduateStudent394
13656  Department1.University0/UndergraduateStudent141

[829 rows x 1 columns]

In [99]:
result = pd.merge(df, df_university, on='subject')
listOfProperty = result['property'].drop_duplicates().values.tolist()
print(listOfProperty)
p1 = result[result['property'] == listOfProperty[0]][['subject', 'object']]
p2 = result[result['property'] == listOfProperty[1]][['subject', 'object']]
p3 = result[result['property'] == listOfProperty[2]][['subject', 'object']]

['memberOf', 'advisor', 'emailAddress', 'type', 'takesCourse', 'name', 'telephone']

In [103]:
result = pd.merge(p1, p2, on='subject')
result

,subject,object_x,object_y
0,Department0.University3/UndergraduateStudent169,Department0.University3,Department0.University3/AssistantProfessor8
1,Department0.University3/UndergraduateStudent83,Department0.University3,Department0.University3/AssociateProfessor2
2,Department0.University3/UndergraduateStudent244,Department0.University3,Department0.University3/AssistantProfessor10
3,Department0.University3/UndergraduateStudent337,Department0.University3,Department0.University3/FullProfessor8
4,Department0.University3/UndergraduateStudent252,Department0.University3,Department0.University3/AssociateProfessor8
5,Department0.University3/UndergraduateStudent9,Department0.University3,Department0.University3/AssistantProfessor10
6,Department0.University3/UndergraduateStudent260,Department0.University3,Department0.University3/FullProfessor1
7,Department0.University3/UndergraduateStudent273,Department0.University3,Department0.University3/FullProfessor5
8,Department0.University3/UndergraduateStudent58,Department0.University3,Department0.University3/AssociateProfessor7
9,Department0.University3/UndergraduateStudent219,Department0.University3,Department0.University3/AssociateProfessor9
10,Department0.University3/UndergraduateStudent147,Department0.University3,Department0.University3/AssociateProfessor3
11,Department0.University3/UndergraduateStudent214,Department0.University3,Department0.University3/AssociateProfessor4
12,Department0.University3/UndergraduateStudent87,Department0.University3,Department0.University3/AssociateProfessor2
13,Department0.University3/UndergraduateStudent307,Department0.University3,Department0.University3/AssistantProfessor6
14,Department0.University3/UndergraduateStudent395,Department0.University3,Department0.University3/AssistantProfessor8
15,Department0.University3/UndergraduateStudent235,Department0.University3,Department0.University3/FullProfessor5
16,Department0.University3/UndergraduateStudent302,Department0.University3,Department0.University3/AssociateProfessor1
17,Department0.University3/UndergraduateStudent163,Department0.University3,Department0.University3/AssistantProfessor7
18,Department0.University3/UndergraduateStudent28,Department0.University3,Department0.University3/AssociateProfessor4
19,Department0.University3/UndergraduateStudent349,Department0.University3,Department0.University3/FullProfessor2
20,Department0.University3/UndergraduateStudent49,Department0.University3,Department0.University3/AssociateProfessor3
21,Department0.University3/UndergraduateStudent357,Department0.University3,Department0.University3/AssistantProfessor0
22,Department0.University3/UndergraduateStudent104,Department0.University3,Department0.University3/AssociateProfessor1
23,Department0.University3/UndergraduateStudent8,Department0.University3,Department0.University3/AssistantProfessor0
24,Department0.University3/UndergraduateStudent117,Department0.University3,Department0.University3/AssociateProfessor4
25,Department0.University3/UndergraduateStudent272,Department0.University3,Department0.University3/AssistantProfessor10
26,Department0.University3/UndergraduateStudent298,Department0.University3,Department0.University3/AssistantProfessor6
27,Department0.University3/UndergraduateStudent378,Department0.University3,Department0.University3/AssistantProfessor4
28,Department0.University3/UndergraduateStudent78,Department0.University3,Department0.University3/AssociateProfessor9
29,Department0.University3/UndergraduateStudent133,Department0.University3,Department0.University3/FullProfessor5
...,...,...,...
144,Department1.University0/UndergraduateStudent278,Department1.University0,Department1.University0/FullProfessor5
145,Department1.University0/UndergraduateStudent3,Department1.University0,Department1.University0/AssociateProfessor9
146,Department1.University0/UndergraduateStudent273,Department1.University0,Department1.University0/AssistantProfessor3
147,Department1.University0/UndergraduateStudent57,Department1.University0,Department1.University0/AssistantProfessor4
148,Department1.University0/UndergraduateStudent340,Department1.University0,Department1.University0/FullProfessor6
149,Department1.University0/UndergraduateStudent379,Department1.University0,Department1.University0/FullProfessor0
150,Department1.University0/UndergraduateStudent126,Department1.University0,Department1.University0/AssistantProfessor4
151,Department1.University0/UndergraduateStudent281,Department1.University0,Department1.University0/FullProfessor1
152,Department1.University0/UndergraduateStudent219,Department1.University0,Department1.University0/AssistantProfessor4
153,Department1.University0/UndergraduateStudent78,Department1.University0,Department1.University0/FullProfessor5
154,Department1.University0/UndergraduateStudent60,Department1.University0,Department1.University0/FullProfessor4
155,Department1.University0/UndergraduateStudent395,Department1.University0,Department1.University0/AssociateProfessor5
156,Department1.University0/UndergraduateStudent390,Department1.University0,Department1.University0/FullProfessor4
157,Department1.University0/UndergraduateStudent315,Department1.University0,Department1.University0/FullProfessor7
158,Department1.University0/UndergraduateStudent328,Department1.University0,Department1.University0/AssociateProfessor4
159,Department1.University0/UndergraduateStudent163,Department1.University0,Department1.University0/FullProfessor6
160,Department1.University0/UndergraduateStudent269,Department1.University0,Department1.University0/AssistantProfessor2
161,Department1.University0/UndergraduateStudent184,Department1.University0,Department1.University0/FullProfessor4
162,Department1.University0/UndergraduateStudent251,Department1.University0,Department1.University0/AssistantProfessor4
163,Department1.University0/UndergraduateStudent264,Department1.University0,Department1.University0/AssociateProfessor0
164,Department1.University0/UndergraduateStudent35,Department1.University0,Department1.University0/AssistantProfessor2
165,Department1.University0/UndergraduateStudent48,Department1.University0,Department1.University0/AssistantProfessor4
166,Department1.University0/UndergraduateStudent344,Department1.University0,Department1.University0/AssociateProfessor0
167,Department1.University0/UndergraduateStudent285,Department1.University0,Department1.University0/AssistantProfessor4
168,Department1.University0/UndergraduateStudent112,Department1.University0,Department1.University0/AssociateProfessor3
169,Department1.University0/UndergraduateStudent293,Department1.University0,Department1.University0/FullProfessor1
170,Department1.University0/UndergraduateStudent133,Department1.University0,Department1.University0/FullProfessor4
171,Department1.University0/UndergraduateStudent159,Department1.University0,Department1.University0/AssociateProfessor8
172,Department1.University0/UndergraduateStudent213,Department1.University0,Department1.University0/AssistantProfessor3
173,Department1.University0/UndergraduateStudent306,Department1.University0,Department1.University0/AssociateProfessor9